[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo.git
[submodule "themes/anubis2"]
	path = themes/anubis2
	url = https://github.com/Junyi-99/hugo-theme-anubis2.git
